{% extends "base/_base.html" %}

<div class="container">
    {% block content %}
    <h1>Local Library Home</h1>
    <p>
        Welcome to LocalLibrary!
    </p>
    <h2>Dynamic content</h2>
    <p>The library has the following record counts:</p>
    <ul>
        <li><strong>Books:</strong> {{ number_of_books }}</li>
        <li><strong>Copies:</strong> {{ number_of_instances }}</li>
        <li><strong>Copies available:</strong> {{ number_of_instances_available }}</li>
        <li><strong>Authors:</strong> {{ number_of_authors }}</li>
    </ul>
    {% endblock %}
</div>